@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap');

.bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-static-website/seabg.png");
    height: 100vh;
    width: 100vw;
    background-size: cover;
}

.bg-heading {
    font-family: "Roboto";
    font-size: 30px;
    color: white;
    font-weight: bold;
    padding: 20px;
}

.card-container {
    background-color: white;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    margin: 19px;
}

.card-text {
    font-family: "Roboto";
    font-size: 25px;
    font-weight: bold;
    color: #0f0e46;
}

.card-paragraph {
    font-size: 17px;
    font-family: "Roboto";
    color: #6c6b70;
}

.text-card-container {
    padding: 30px;
}